# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test

src/code.google.com/
src/github.com/gorilla/
src/github.com/mattn/
src/github.com/otoolep/raft/
src/github.com/otoolep/rqlite/main
src/github.com/otoolep/rqlite/rqlite
