os: Visual Studio 2019

stack: go 1.16

version: 6.{build}

platform: x64

clone_folder: c:\gopath\src\github.com\rqlite\rqlite

environment:
  GOPATH: c:\gopath

install:
  - set BUILD_ENV=gnu
  - if %BUILD_ENV%==gnu  set PATH=C:\msys64\mingw64\bin;C:\msys64\usr\bin\;%PATH%
  - if %BUILD_ENV%==gnu  set MSYSTEM=MINGW64
  - if %BUILD_ENV%==gnu  set MSYS=winsymlinks=lnk

build_script:
  - set LINKER_PKG_PATH=github.com/rqlite/rqlite/cmd
  - git rev-parse HEAD >commit.txt
  - set /p COMMIT=< commit.txt
  - git branch --show-current >branch.txt
  - type branch.txt
  - set /p BRANCH=< branch.txt
  - go version
  - go get ./...
  - go install -ldflags="-X %LINKER_PKG_PATH%.Branch=%BRANCH% -X %LINKER_PKG_PATH%.Commit=%COMMIT%" ./...
  - c:\gopath\bin\rqlited.exe -version

after_build:
  - 7z a rqlite-latest-win64.zip %GOPATH%\bin\rq*.exe

artifacts:
  - path: rqlite-latest-win64.zip
    name: rqlite for Windows x64
