os: Visual Studio 2019

stack: go 1.20

version: 7.{build}

platform: x64

clone_folder: c:\gopath\src\github.com\rqlite\rqlite

environment:
  GOPATH: c:\gopath

install:
  - set BUILD_ENV=gnu
  - if %BUILD_ENV%==gnu  set PATH=C:\msys64\mingw64\bin;C:\msys64\usr\bin\;%PATH%
  - if %BUILD_ENV%==gnu  set MSYSTEM=MINGW64
  - if %BUILD_ENV%==gnu  set MSYS=winsymlinks=lnk

build_script:
  - set LINKER_PKG_PATH=github.com/rqlite/rqlite/cmd
  - go version
  - go get ./...
  - cd snapshot2
  - go test -run Test_SinkCreateFullThenWALSnapshots

