[Unit]
Description=rqlite database server node
After=network.target

[Service]
Type=simple
User=rqlite
WorkingDirectory=/var/lib/rqlite
EnvironmentFile=-/etc/default/rqlite
ExecStart=/usr/bin/rqlited $RQLITE_EXTRA_ARGS /var/lib/rqlite
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target