name: Build and release on Windows

on:
  release:
    types:
      - created

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'

    - name: Install C Compiler
      run: choco install mingw

    - name: Verify GCC Installation
      run: gcc --version

    - name: Build server
      run:  set CGO_ENABLED=1 && set CC=gcc && go build -a -tags sqlite_omit_load_extension -ldflags="-w -s" ./cmd/rqlited

    - name: Build shell
      run:  set CGO_ENABLED=1 && set CC=gcc && go build -a -tags sqlite_omit_load_extension -ldflags="-w -s" ./cmd/rqlite

    - name: Zip up the binaries
      run:  7z.exe a rqlite-${{ github.event.release.tag_name }}-win64.zip rqlite.exe rq*.exe

    - name: Upload release
      shell: pwsh
      run: |
        $filePath = "rqlite-${{ github.event.release.tag_name }}-win64.zip"
        $endpoint = "https://uploads.github.com/repos/rqlite/rqlite/releases/${{ github.event.release.id }}/assets?name=rqlite-${{ github.event.release.tag_name }}-win64.zip"
        $headers = @{
          "Authorization" = "token ${{ secrets.GITHUB_TOKEN }}"
          "Content-Type"  = "application/zip"
        }
        Invoke-RestMethod -Uri $endpoint -Method Post -Headers $headers -InFile $filePath -ContentType "application/octet-stream"
